html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, Noto Sans JP, YuGothic, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

blockquote {
  position: relative;
  padding: 30px 15px 8px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  color: #555;
}

blockquote:before {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 3px;
  content: "“";
  font-family: sans-serif;
  color: #cfcfcf;
  font-size: 90px;
  line-height: 1;
}

blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}

p code, li code {
  display: inline-block;
  padding: 0.1em 0.25em;
  color: #444;
  background-color: #e7edf3;
  border-radius: 3px;
  border: solid 1px #d6dde4;
}

pre {
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  background: #25292f;
  color: #fff;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
